search_selected_text_w	sw
_speak_text e
_tts_pause <C-p>
_tts_speed_up >
_tts_speed_down <
_tts_stop Q
# Vim-style half-page scrolling
screen_down d
screen_up u
prev_state <C-o>
# toggle_titlebar <C-w>
next_state <C-i>
zoom_in J
zoom_out K


# Toggle dark mode with 'i' (for "invert")
toggle_dark_mode i
toggle_custom_color c
reload_config r
helper_window


fit_to_page_width S

